
@import "style.scss";

.main-wrapper{
	width: 960px;
	border: 0px solid red;
	header{
		h1{
			color: $ul-orange;
		}
	}
	.ul-style-index{
		li{

		}
		ul {
			li{
				padding-left: 20px;
			}
		}
	}

	#ul-colors{
		.ul-orange{
			background: $ul-orange;
		}
		.ul-orange-dark{
			background: $ul-orange-dark;
		}
		.light-green{
			background: $light-green;
		}
		.light-sky{
			background: $light-sky;
		}
		.bluish-grey{
			background: $bluish-grey;
		}
		.black-redish{
			background: $black-redish;
		}
		.grey{
			background: $grey;
		}
		.white{
			background: $white;
		}
	}
}
