a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display:block;
}
h1,h2,h3,h4,h5,h6
{
	font-family:inherit;
	text-rendering:optimizelegibility;
	line-height:1.4
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small
{
	font-weight:400;
	line-height:1
}
h2
{
	font-size:32px
}
h3
{
	font-size:25px
}
h4
{
	font-size:18px
}
h5
{
	font-size:14px
}
h6
{
	font-size:12px
}
ol,ul
{
	list-style:none;
}
blockquote,q
{
	quotes:none;
}
blockquote:after,blockquote:before,q:after,q:before{
	content:'';
	content:none;
}
table
{
	border-collapse:collapse;
	border-spacing:0
}
.noVerticalAlign
{
	vertical-align:top
}
html
{
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	height:100%
}
img
{
	display:inline-block;
	vertical-align:middle
}
a,img{
	border:0
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
* html .clearfix{
	height:1%
}

.clearfix
{
	display:block
}
