$body-text-size: 12px;
$fine-text-color: #969696;
$global-background: #FFFFFF;
$global-border: 1px solid #E1E1E1;
$global-image-path: "";
$section-background: #FAFAFA;
$link-color: #737373;
$link-hover-color: #BA5A02;
$price-color: rgb(185,93,29);
$tab-background: #F8EEE6;
$tiny-text-size: 11px;
$strike-price: rgb(170, 170, 170);
$grey-font-color: #666;
$grey-light-font-color: #999;
$grey-border-color: #CCC;

/*
	Hence forth lets name variable properly not related with behaviour but as variable
*/

$ul-orange : #BA5A02;
$ul-orange-dark : #BD5D0C;

$black : #000;
$black-redish: #999999;
$grey :  #FAFAFA;
$white : #FFF;
$bluish-grey: #48484a;

$light-sky : #87bcbb;
$light-green: #8c9b94;
