/*

Fonts description and classes goes in here 
*/

/* Fonts Starts */
.XXSmall
{
	font-size:10px
}
.XSmall
{
	font-size:11px
}
.Small,small
{
	font-size:12px
}
.Normal
{
	font-size:14px
}
.Large
{
	font-size:16px
}
.XLarge
{
	font-size:18px
}
.XXLarge
{
	font-size:22px
}
.XXXLarge
{
	font-size:26px
}
.XXXXLarge
{
	font-size:30px
}
.Large,.XLarge,.XXLarge,.XXXLarge,.XXXXLarge
{
	line-height:1.4
}
.TextNormal,cite
{
	font-weight:400
}
.TextBold,b,strong
{
	font-weight:700
}
.TextLight
{
	font-weight:300
}
.TextSemiBold
{
	font-weight:600
}
.TextItalic,em
{
	font-style:italic
}
/* Fonts Ends */


.MB
{
	width:960px;margin:auto
}
.MainContainer
{
	min-height:100%;
	position:relative
}

.mContent
{
	margin-top:30px
}
.BoxModel
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

// Should be handled by grid . Fall back .
.Center
{
	margin-left:auto;margin-right:auto
}

.W100
{
	width:100%
}
.W90
{
	width:90%
}

.W80
{
	width:80%
}
.W75
{
	width:75%
}
.W70
{
	width:70%
}
.W60{
	width:60%
}
.W50
{
	width:50%
}
.W40
{
	width:40%
}
.W30
{
	width:30%
}
.W25
{	
	width:25%
}
.W20
{
	width:20%
}
.W10
{
	width:10%
}
.MarginNone
{
	margin:0
}
.XXXBMargin
{
	margin-right:60px
}
.XXBMargin
{
	margin-right:40px
}
.XBMargin
{
	margin-right:20px
}
.BMargin
{
	margin-right:10px
}
.SBMargin
{
	margin-right:5px
}
.NoMarginBottom
{
	margin-bottom:0
}
.SCN
{
	margin-bottom:5px
}
.CN
{
	margin-bottom:10px
}
.XCN
{
	margin-bottom:20px
}
.XXCN
{
	margin-bottom:35px
}
.XXXCN
{
	margin-bottom:60px
}
.P40
{
	padding:40px
}
.P20
{
	padding:20px
}
.P25
{
	padding:25px
}
.P10
{
	padding:10px
}
.P5
{
	padding:5px
}
.Padder5
{
	padding:5px 0
}
.Padder10
{
	padding:10px 0
}
.Padder15
{
	padding:15px 0
}
.Padder20
{
	padding:20px 0
}
a
{
	color:$link-color;
	text-decoration:none
}
a:focus
{
	outline:thin dotted $ul-orange;
	outline-offset:1px
}
a:active,a:hover
{
	outline:0;
	color: $ul-orange;
	text-decoration:none
}
.BBorder
{
	border-bottom:1px solid #e0e0e0
}
.LBorder
{
	border-left:1px solid #e0e0e0
}
.RBorder
{
	border-right:1px solid #e0e0e0
}
.TBorder
{
	border-top:1px solid #e0e0e0
}
.FBorder
{
	border:1px solid #e0e0e0
}
.NoBorder
{
	border:0
}
.RC{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:5px
}
.LB
{
	float:left
}
.RB
{
	float:right
}
.CL
{
	clear:both
}
.Hide
{
	display:none
}
.Hidden
{
	visibility:hidden
}

.TextLeft
{
	text-align:left
}
.TextRight
{
	text-align:right
}
.Textjustify
{
	text-align:justify
}
.TextCenter
{
	text-align:center
}
.TextLineThrough
{
	text-decoration:line-through
}
.TextUnderline
{
	text-decoration:underline
}
.TextMiddle
{
	vertical-align:middle
}
.TextCapitalize
{
	text-transform:capitalize
}
.TextUppercase
{
	text-transform:uppercase
}
.Truncate
{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.Paragraph
{
	line-height:1.6;
	margin-bottom:20px;
	font-size:14px
}

