/* Buttons related generic classes goes here */

button,input[type="button"],
input[type="reset"],
input[type="submit"] {
	font: Raleway;
	font-weight: 500;
	color: $white;
	text-align: center;
	background: $ul-orange-dark;
	text-transform: uppercase;
	padding: 12px;
	border: 0px;
	margin: 0px;
	font-size: 10px;
}

button :hover,input[type="button"] :hover,
input[type="reset"]:hover,
input[type="submit"]:hover{
	cursor: pointer;
}

.ul-btn-xsmall{
	line-height: 4px;
	height: 25px;
}

.ul-btn-small{
	line-height: 8px;
	height: 30px;
	font-size: 1.0em;
}

.ul-btn-large{
	line-height: 11px;
	height: 35px;
	font-size: 1.1em;
}

.ul-btn-jumbo{
	height: 40px;
	line-height: 14px;
	font-size: 1.2em;
}


/* Input related classes goes here */

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	border: 1px solid #cccccc;
	box-shadow: none;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
	background-color: $white;
	height:25px;
	line-height: 25px;
}

.ul-input-small{
	width: 300px 
}
.ul-input-large{
	width: 400px;
}
